.skill-card{
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.skillimg{
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 12px;
}
.lie{
    width: 60px;
    margin-top: 10px;
    height: 4px;
    border-radius: 2px;
    background-color: #096B68;
}
.skill-card h3{
    margin-top: 8px;
    color: black;
    font-size: 14px;
    font-weight: 500;
}