.img{
    width: 100%;
  height: 100px; /* Ek fixed height set karein */
  object-fit: cover; /* Image ko stretch hone se bachayega */
  border-radius: 8px;
  background-color: #f0f0f0; /* Jab tak image load na ho, light grey background dikhega */
  display: block;
  margin-bottom: 11px;
}
.card{
    width: 200px;
}
.card-main h4{
    color:black;
    margin: 0px;
}
.card-main p{
    color: darkgrey;
    font-size: 9px;
    margin-top: 0;
}
.links{
    margin-top: 15px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.Controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dust{
    padding: 8px 8px;
    margin-top: 7px;;
    scale: 90%;
    border: 1px;
    background-color: white;
    border-color: black;
}
.dust:hover{
    border: 1px;
    border-radius: 500px;
    background-color: rgb(255, 226, 230);
    color:rgb(255, 90, 90);
}              
.dust:active{
    background-color: white;
} 
.githu:hover{
    color:black;
}
.lin:hover{
    color:black;
}
.tag{
    font-size: 9px;
    color: rgb(66, 66, 79);
    background-color: rgba(237, 237, 237, 0.4);
    padding: 0.8px 15px;
    border-radius: 20px;
    width:fit-content;
    margin-top: 5px;
}