.contact-sec{
    display: flex;
    flex-direction: row;
    gap: 140px;
    background-color: black;
    text-align: left;
    padding: 40px 80px;
    height: 400px;
    align-self: center;
    width: 700px;
    justify-content: center;
    margin: 0px 60px;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.ok{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.li{
    background-color: white;
    height:200px;
    width:2px;
    gap: 40px;
}
.details{
    display: flex;
    flex-direction: column;
    border: 1px;
    border-color: white;
    text-align: left;

}

.details p{
    color:white;
    font-size: 9px;
}

.details h4{
    font-size: 12px;
    margin-top: 5px;
    font-weight: 500;
}
.corner{
    position: absolute;
    width: 60px;    /* 👈 must be small */
    height: 60px; 
    border-color: #2ecc71;
    border-style: solid;
}
.form-wrapper {
    position: relative;
    padding: 40px;
    width: 350px;
    height: 350px;
}
.tl{
    border-width: 3px 0 0 3px;
    top:0;
    left:0;
}
.tr { top: 0;    right: 0;  border-width: 3px 3px 0 0; }
.bl { bottom: 0; left: 0;   border-width: 0 0 3px 3px; }
.br { bottom: 0; right: 0;  border-width: 0 3px 3px 0; }

#cont{
    background: transparent;
    border: none;
}
.inp-grp{
    display: flex;
    flex-direction: column;
}
.inp-grp label{
    font-size: 16px;
    margin-bottom:6px;
}
.inp-grp input:focus ~ label,
.inp-grp input:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 11px;
    color: #2ecc71;
}
.inp-grp input {
    border: none;
    border-bottom: 1px ;
    border-color: white;
    height: 20px;
    outline: none;
}