.contact-sec{
    display: flex;
    flex-direction: row;
    gap: 140px;
    background-color: black;
    text-align: left;
    padding: 40px 80px;
    height: 400px;
    align-self: center;
    width:100%;
    max-width: 900px;
    justify-content: center;
    margin: 0px 130px;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.ok{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.li{
    background-color: #31CBA3;
    height:200px;
    width:2px;
    gap: 40px;
}
.details{
    display: flex;
    flex-direction: column;
    border: 1px;
    border-color: white;
    text-align: left;

}

.details p{
    color:white;
    font-size: 9px;
}

.details h4{
    font-size: 12px;
    margin-top: 5px;
    font-weight: 500;
}
.corner{
    position: absolute;
    width: 60px;    /* 👈 must be small */
    height: 60px; 
    border-color: #31CBA3;
    border-style: solid;
}
.form-wrapper {
    position: relative;
    padding: 0px 40px 45px 40px;
    width: 350px;
    height: 300px;
}
.tl{
    border-width: 3px 0 0 3px;
    top:0;
    left:0;
}
.tr { top: 0;    right: 0;  border-width: 3px 3px 0 0; }
.bl { bottom: 0; left: 0;   border-width: 0 0 3px 3px; }
.br { bottom: 0; right: 0;  border-width: 0 3px 3px 0; }

.inp-grp {
    position: relative;
    margin-bottom: 28px;
}

.inp-grp label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #aaa;
    font-size: 13px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.inp-grp input {
    background: transparent;    /* 👈 removes the grey box */
    border: none;
    border-bottom: 0.5px solid rgba(152, 152, 152, 0.6);
    color: white;
    padding: 10px 0 6px 0;
    font-size: 15px;
    outline: none;
    width: 100%;
    height: auto;
}

.inp-grp input:focus {
    border-bottom: 1px solid #2ecc71;
}

.inp-grp input:focus ~ label,
.inp-grp input:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 11px;
    color: #31CBA3;
}

.formin{
    background-color: #292929;
    padding: 20px 30px;
    margin-top: 0px;
}
.title{
    margin-bottom: -0.5px;
    font-size: 10px;
    color: white;
    text-align: center;
}

.but{
    padding: 5px 55px;
    color: black;
    background-color: #31CBA3;
    border: none;
}